<div class="row">
  <div class="col-md-4"></div>
  <div class="col-md-4">
    <div class="well login-prompt text-center">
      <h3>Authenticate Required</h3>
      <p><a href="<%= login_oauth_path %>" class="btn btn-primary btn-lg">Login</a></p>
    </div>
  </div>
  <div class="col-md-4"></div>
</div>
