<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">
      Upload to Strava
    </h1>
    <ol class="breadcrumb">
      <li>
        <i class="fa fa-dashboard"></i>  <a href="/mmr/workouts">MMR / Workouts</a>
      </li>
      <li>
        <i class="fa fa-calendar"></i> <a href="<%= workouts_path_for_month(:mmr, @month) %>"><%= @month.strftime("%B, %Y") %></a>
      </li>
      <li class="active">
        <i class="fa fa-cloud-upload"></i> Upload / Duplicate
      </li>
    </ol>
  </div>
</div>

<div class="row">
  <div class="col-lg-5">
    <div class="alert alert-info" role="alert">
      <strong>Duplicate Activity Detected!</strong>
      <br>
      An activity already exists on Strava that matches this workout or we have
      a record of uploading this workout previously.
      <br>
      <a href="http://www.strava.com/activities/<%= current_log.strava_activity_id %>">View it here on Strava</a>.
      <br><br>
      If you think you got this in error, you can attempt to
      <a href="/mmr/workout/<%= params[:workout_id] %>/upload?force=1">force an upload</a> again.
    </div>
  </div>
</div>
