<div class="panel-body">
  <h1 class="text-center">
    <i class="fa fa-spin fa-circle-o-notch"></i>
    Uploading...
  </h1>
</div>

<script type="text/javascript" charset="utf-8">
  // next step is to ?
  $("#upload-panel").load("/mmr/workout/<%= @workout_id %>/upload/scan");
</script>
